.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-box {
    position: relative;
    background-color: var(--element-primary-color);
    border: solid 6px var(--element-border-color);
    border-radius: var(--radius);
    padding: 20px;
    box-shadow: 15px 15px 0 rgba(81, 39, 7, 0.7);
    text-align: center;
    width: 30%;
    height: auto;
    min-height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: 'Pixel';
        font-size: 2.5em;
        color: var(--element-border-color);
        text-shadow: var(--shadow) rgba(81, 39, 7, 0.2);
        margin-bottom: 20px;
    }

    .settings-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;

        .volume-control {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            p {
                font-family: 'Pixel';
                color: var(--element-border-color);
                margin: 0;
            }

            .controls-row {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 80%;
                justify-content: center;

                img {
                    width: 30px;
                    cursor: var(--cursor-hand);

                    &:hover {
                        opacity: 0.8;
                    }
                }

                input[type=range] {
                    flex-grow: 1;
                    cursor: var(--cursor-hand);
                    accent-color: var(--element-border-color);
                }
            }
        }
    }

    .modal-actions {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #close-button {
        position: absolute;
        font-family: 'Pixel';
        color: var(--element-border-color);
        font-size: 2vw;
        top: 10px;
        right: 10px;

        &:hover {
            cursor: var(--cursor-hand);
        }
    }
}