<main
  class="scene scene-multi text-md"
  [style.background-image]="'url(http://localhost:8080/api/images/' + scene?.background + ')'"
>
  @if (showResumeModal) {
    <app-menu-modal (choice)="onMenuChoice($event)"></app-menu-modal>
  }

  <!-- Bouton clear UI -->
  <img src="/assets/images/clearUI.png" alt="bouton clearUI" (click)="toggleUI()" id="clearUI" />

  <!-- Bouton menu -->
  <img src="/assets/images/menu.png" alt="bouton menu" (click)="toggleMenu()" id="menu" />

@if (isUIDisplayed) {
    <div class="card card-description">
    <div class="description" #descriptionContainer (click)="skipDescription()">
      {{ displayedDescription }}
    </div>
  </div>
  @if (isQuestionResponseDisplayed) {
    <div class="question-responses">
      @if (scene?.question) {
        <div class="card card-question">
          <div class="question">{{ scene?.question }}</div>
        </div>
      }
      @if (scene?.responses?.length) {
        <div class="card-reponses" style="width: 100%">
          @switch (scene?.type?.name) {
            @case ("multi"){
              <app-response-multi style="width: 100%" [scene]="scene" (selectedResponse)="selectResponse($event)"></app-response-multi> 
            }
            @default {
              <app-response-multi style="width: 100%" [scene]="scene" (selectedResponse)="selectResponse($event)"></app-response-multi> 
            }
          }
        </div>
      }
    </div>
  }
}
</main>