<main class="scene scene-multi text-md" [style.background-image]="'url(http://localhost:8080/api/images/' + scene?.background + ')'">
    
    @if (showResumeModal) {
    <app-menu-modal (choice)="onMenuChoice($event)"></app-menu-modal>
    }

    <!-- Bouton clear UI -->
     <img src="/assets/images/clearUI.png" alt="bouton clearUI" (click)="toggleUI()" id="clearUI">

    <!-- Bouton menu -->
     <img src="/assets/images/menu.png" alt="bouton menu" (click)="toggleMenu()" id="menu">


    <!-- BLOC PRINCIPAL -->
        @if (isUIDisplayed) {
        <!-- DESCRIPTION -->
        <div class="card card-description">
            <div class="description" #descriptionContainer (click)="skipDescription()">
                {{ displayedDescription }}
            </div>
        </div>


        @if (isQuestionResponseDisplayed && scene!) {
                <!-- QUESTION -->
            <div class="question-responses">
                @if (scene!.question && isQuestionResponseDisplayed) {
                <div class="card card-question"></div>
                <div class="question">{{ scene!.question }}</div>
                }
            </div>
        <!-- RESPONSE -->
        <!-- Dans réponse on affiche conditionellement les types de réponses
        en fonction du type de scene -->
        <div>
            @switch (scene.type.name) {
                <!-- Va permetre d'afficher la reponse de type multiypeMulti -->
                @case ('scene-multi') {
                    <app-response-multi [scene]="scene" (selectResponse)="selectResponse($event)"></app-response-multi>
                }

                @case ('scene-match') {

                }

                @default {

                }
            }
        </div>  
        }
    }
</main>