:root {
  --color-primary: #683c2f;
  --color-secondary: #d89a73;
  --color-white: #dddad8;
  // --border-width: clamp(0.2rem, 0.8vw, 0.5rem);
  --border-width: 0.3vw;
  --gap-size: clamp(0.4rem, 1vw, 0.6rem);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#clearUI {
  position: absolute;
  padding: 1%;
  top: 0px;
  left: 0px;
}

#menu {
  position: absolute;
  padding: 1%;
  top: 0px;
  right: 0px;
}


.scene {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100vw;
  //background-image: url('/assets/images-scene/main-scene-16bit-v2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  box-sizing: border-box;
  gap: 0.5rem;
}

.card {
  background: hsl(from var(--color-secondary) h s l / 0.8);
  border: solid var(--color-primary) var(--border-width);
  border-radius: var(--radius);
  width: 100%;
  padding: 0.5vw;
  animation: fadeIn 1s ease-out;
}

.card-question {
  // margin-top: 1vw;
  // padding: 1vw;
  width: 100%;
}

.card-description, .card-question {
  visibility: visible;
}

.description {
  height: 16.2vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--element-border-color) transparent;

  &::-webkit-scrollbar {
    width: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--element-border-color);
    border-radius: var(--radius);
  }
}

.question-responses {
  // border: solid 2px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5vw;
  // animation: fadeIn 1s ease-out;
}

.responses {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
}

#scenario-selector-container {
  height: 85%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--element-border-color) transparent;

  &::-webkit-scrollbar {
    width: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--element-border-color);
    border-radius: var(--radius);
  }
}