<main class="scene scene-multi text-md"
  [style.background-image]="'url(' + imageApiUrl + game?.currentScene?.background + ')'">
  @if (showResumeModal) {
  <app-menu-modal (choice)="onMenuChoice($event)"></app-menu-modal>
  }
  @if (showSettingsModal) {
  <app-settings-modal (close)="onSettingsClose()"></app-settings-modal>
  }

  <!-- Bouton clear UI -->
  <img src="/assets/images/clearUI.png" alt="bouton clearUI" (click)="toggleUI()" id="clearUI" />

  <!-- Bouton menu -->
  <img src="/assets/images/menu.png" alt="bouton menu" (click)="toggleMenu()" id="menu" />

  <!-- Barre de vie -->
  <app-health-bar [damage]="healthDamage"></app-health-bar>

  <!-- TEST ET DUBG -->
  <!-- <p style="color: red;">{{scene?.idScene}}</p>
   <p style="color: red;">{{scene?.responses?.length}} </p> -->

  @if (isUIDisplayed) {
  <div class="card card-description">
    <div class="description" #descriptionContainer (click)="skipDescription()">
      {{ displayedDescription }}
    </div>
  </div>

  @if (isQuestionResponseDisplayed) {
  <div class="question-responses">
    @if (game?.currentScene?.question) {
    <div class="card card-question">
      <div class="question">{{ game?.currentScene?.question }}</div>
    </div>
    }
    @if (game?.currentScene?.responses) { <!-- ? Pourquoi .lenght ? -->
    <div class=" card card-reponses" style="width: 100%">
      @switch (game?.currentScene?.typeScene) {

      <!-- * Va couvrir le cas multichoice, description et binaires -->
      @case (typeSceneEnum.MULTICHOICE){
      <app-response-multi [scene]="game?.currentScene!" (selectedResponse)="selectResponse($event)"></app-response-multi>
      }

      @case (typeSceneEnum.MATCH){
        <app-response-match [scene]="game!.currentScene!" (selectedResponse)="selectResponse($event)"></app-response-match>
      }

      @case (typeSceneEnum.CODE){
      <app-response-code [scene]="game!.currentScene!" (selectedResponse)="selectResponse($event)"></app-response-code>
      }

      <!-- @case (typeSceneEnum.MULTICHOICE){ -->
      <!-- <app-response-match style="width: 100%" [scene]="scene" -->
      <!-- (selectedResponse)="selectResponse($event)"></app-response-match> -->
      <!-- }  -->

      <!-- @case ("IMAGEMATCH"){ -->
      <!-- <app-response-imagematch style="width: 100%" [scene]="scene" -->
      <!-- (selectedResponse)="selectResponse($event)"></app-response-imagematch> -->
      <!-- } -->

      <!-- @case (typeSceneEnum.MULTICHOICE){ -->
      <!-- <app-response-code [scene]="scene" (selectedResponse)="selectResponse($event)"></app-response-code> -->
      <!-- } -->

      @default {
      <p style="color: red;">Type de scène inconnu : {{game?.currentScene?.typeScene?.toString()}}</p>
      }

      }
    </div>
    }
  </div>
  }
  }
</main>