:host{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: hsl(from var(--color-secondary) h s l / 0.8);
  border: solid var(--color-primary) var(--border-width);
  border-radius: var(--radius);
  padding: 20px;
  box-sizing: border-box;
}

.response{
  p{
    margin: 0;
  }
}

:hover {
  background-color: #9a6143;
  cursor: var(--cursor-hand);
}