// TODO : Ajouter une mediaquery pour le background

.scene {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.layer {
    position: absolute;
    inset: -12%;
    background-size: 105vw;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

/* Ciel */
.far_distance {
    background-image: url('/assets/images-scene/parallax/sky.png');
    z-index: -3;
}

/* Ville*/
.med_distance {
    background-image: url('/assets/images-scene/parallax/city.png');
    z-index: -2;
}

/* Avatar */
.near_distance {
    background-image: url('/assets/images-scene/parallax/avatar.png');
    z-index: -1;
}

.title-section {
    position: relative;
    z-index: 10;
    padding-top: 1%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.input-container {

    background-color: var(--element-primary-color-transparent);
    border: 5px solid var(--element-border-color);
    border-radius: var(--radius);
    padding: 2%;

    margin: auto;
    z-index: 10;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    input {
        width: 100%;
        padding: 2%;
        font-family: Pixel;
        color: var(--element-border-color);
        background-color: var(--element-primary-color);
        border: 5px solid var(--element-border-color);
        border-radius: var(--radius);
        font-size: 1em;

        &::placeholder {
            color: var(--font-primary-color);
        }

        &:focus {
            outline: none;
            border-color: var(--element-border-color);
        }
    }
}

.error{
    color: red;
    font-family: Pixel;
    margin: 0;
}

/* Overlay plein écran */
.overlay {
  position: fixed;
  inset: 0; /* top/right/bottom/left: 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

/* Carte d’alerte */
.alert-card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  gap: 10px;

  width: 600px;
  min-height: 72px;

  background: #D89A73;
  border: 10px solid #683C2F;
  border-radius: 5px;
}

/* Texte du message */
.alert-msg {
  margin: 0;
  width: 100%;
  text-align: center;

  font-family: 'Pixellari', sans-serif; /* [web:1] */
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;

  color: #683C2F;
}
