// TODO : Ajouter une mediaquery pour le background

.scene {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  inset: -12%;
  background-size: 105vw;
  background-repeat: no-repeat;
  background-position: center;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

/* Ciel */
.far_distance {
  background-image: url('/assets/images-scene/parallax/sky.png');
  z-index: -3;
}

/* Ville*/
.med_distance {
  background-image: url('/assets/images-scene/parallax/city.png');
  z-index: -2;
}

/* Avatar */
.near_distance {
  background-image: url('/assets/images-scene/parallax/avatar.png');
  z-index: -1;

}

.title-section {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  /*Test*/
  // border: 1px solid white;

  height: 65%;
  margin: 1vw;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vh;
}

