.input-container {

    background-color: var(--element-primary-color-transparent);
    border: 5px solid var(--element-border-color);
    border-radius: var(--radius);
    padding: 2%;

    margin: 2vw auto;
    z-index: 10;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    input {
        width: 100%;
        padding: 2%;
        font-family: Pixel;
        color: var(--element-border-color);
        background-color: var(--element-primary-color);
        border: 5px solid var(--element-border-color);
        border-radius: var(--radius);
        //font-size: 1em;
        font-size:0.7em;

        &::placeholder {
            color: var(--font-primary-color);
        }

        &:focus {
            outline: none;
            border-color: var(--element-border-color);
        }
    }
}