.scene {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.layer {
    position: absolute;
    inset: -12%;
    background-size: 105vw;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

/* Ciel */
.far_distance {
    background-image: url('/assets/images-scene/parallax/sky.png');
    z-index: -3;
}

/* Ville*/
.med_distance {
    background-image: url('/assets/images-scene/parallax/city.png');
    z-index: -2;
}

/* Avatar */
.near_distance {
    background-image: url('/assets/images-scene/parallax/avatar.png');
    z-index: -1;
}

.scenario-import-containers {

    padding: 3% 3% 1% 3%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    // align-items: flex-start;
    // justify-content: flex-start;
    gap: 1%;
}

// ==== CONFIG GLOBALE ====

section {
    z-index: 3000; //Pour que la neige passe derriere
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
    gap: 1%;

    &>div {
        background-color: var(--element-primary-color-transparent);
        border: 0.5vw solid var(--element-border-color);
        border-radius: var(--radius);
        width: 95%;
    }
}

p {
    font-family: 'Pixel';
    color: var(--element-border-color);
    font-size: 1vw;
    margin: 0;
    padding: 4% 0 0 4%; //A changer
}

.config-title {
    font-family: 'Pixel';
    color: var(--element-border-color);
    font-size: 1.5vw;
    margin: 0;
    text-align: start;
    padding: 1%;
}

.sub-title {
    font-family: 'Pixel';
    color: var(--element-border-color);
    font-size: 1vw;
    margin: 0;
    padding: 2%;
}

// ==== LOAD SECTION ====
.load-section {
    #load-title-container {
        height: 10%;

    }

    #load-content-container {
        height: 85%;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .sub-title {
            width: 95%;
            text-align: left;
            margin-bottom: 1%;
            font-size: 1.3vw;
        }

        &>div {
            width: 95%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3%;
            padding: 0 2%;

            p {
                padding: 0;
                font-size: 0.8vw;
                width: 25%; // Fixed width for labels
            }

            img {
                width: 1.5vw;
                height: auto;
                cursor: pointer;
                transition: transform 0.1s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.9);
                }
            }

            input[type=range] {
                width: 35%;
                cursor: pointer;
            }
        }
    }
}


// ==== BUTTON CONTAINERS ====
.button-containers {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2;

    &>app-nuke-button {
        margin-right: 2%;
    }
}