:root {
  --color-primary: #683c2f;
  --color-secondary: #d89a73;

  --color-white: #dddad8;

  --border-width: clamp(0.2rem, 0.8vw, 0.5rem);

  --gap-size: clamp(0.4rem, 1vw, 0.8rem);
}

.scene {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100vw;
  //background-image: url('/assets/images-scene/main-scene-16bit-v2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  box-sizing: border-box;
  gap: 2rem;
}

.card {
  background: hsl(from var(--color-secondary) h s l / 0.8);
  border: solid var(--color-primary) var(--border-width);
}

.card-description,
.card-question, .card-responses {
  width: 100%;
  padding: 1vw;
}

.card-description {
  visibility: visible;
}

.card-responses {
  display: flex;
  flex-direction: column;
}

.question-responses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.response:hover {
  background-color: #9a6143;
  cursor: var(--cursor-hand);
  
}

.selected {
  background-color: #9a6143;
}
