:root {
  --color-primary: #683C2F;
  --color-secondary: #D89A73;
  
  --color-white: #dddad8;
  
  --border-width: clamp(0.2rem, 0.8vw, 0.5rem); 
  --border-radius: clamp(1rem, 4vw, 5rem);

  --gap-size: clamp(0.4rem, 1vw, 0.8rem);

  --font-size-md: clamp(1.5rem, 5.5vw + 0.5rem, 2.5rem);
}

.victory{
  background-image: url('/assets/images-scene/image-victory.jpeg');
}

.loose{
  background-image: url('/assets/images-scene/image-loose.jpeg');
}

.scene {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  box-sizing: border-box;
  gap: 2rem;
}

.card{
    background: #D89A73;
    border: solid var(--color-primary) var(--border-width);
}

.card-resolver{
    width: 100%;
    padding: 1vw;
}

/*
.card-resolver{
    visibility:hidden;
}
    */

.title-section {
    position: relative;
    z-index: 10;
    padding-top: 1%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resolver{
    margin-bottom: 2%;
}

.couleur{
    color: black;
    opacity: 0.75;
}