:root {
  --color-primary: #683C2F;
  --color-secondary: #D89A73;
  
  --color-white: #dddad8;
  
  --border-width: clamp(0.2rem, 0.8vw, 0.5rem); 
  --border-radius: clamp(1rem, 4vw, 5rem);

  --gap-size: clamp(0.4rem, 1vw, 0.8rem);

  --font-size-md: clamp(1.5rem, 5.5vw + 0.5rem, 2.5rem);
}

.scene-description {
  background-image: url('/assets/images-scene/sur-sa-trace.jpeg');
}

.scene {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  box-sizing: border-box;
  gap: 2rem;
}

.card{
    background: #D89A73;
    border: solid var(--color-primary) var(--border-width);
}

.card-description, .card-question, .card-responses{
    width: 100%;
    padding: 1vw;
}

/*
.card-description{
    visibility:hidden;
}
    */




