<main>
<!--mettre en fonction du game.scene type-->
@if (game!.currentScene.type.name === "scene-multi"||game!.currentScene.type.name === "scene-description") {
    <app-scene-multi [scene]="game!.currentScene">

    </app-scene-multi>
    }
<!--mettre en fonction du game.scene type
@if (game!.currentScene.type.name === "scene-description") {
    <app-scene-description [scene]="game!.currentScene">

    </app-scene-description>
    }
-->

@if (game!.currentScene.type.name === "scene-resolver") {
    <app-scene-resolver [game]="game">

    </app-scene-resolver>
    }


</main>
