<div class="modal-background">
  <div class="modal-box">
    <h2>MENU</h2>
    <span id="close-button" (click)="close()">X</span>
    <div class="modal-actions">
      <app-nuke-button label="Resume" (click)="resume()" [fontSize]="1.2"></app-nuke-button>
      <app-nuke-button label="Give Up" (click)="giveUp()" [fontSize]="1.2"></app-nuke-button>
      <app-nuke-button label="Options" (click)="options()" [fontSize]="1.2"></app-nuke-button>
      <app-nuke-button label="Save and Exit" (click)="saveAndExit()" [fontSize]="1.2"></app-nuke-button>
    </div>
  </div>
</div>  