.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  position: relative;
  background-color: var(--element-primary-color);
  border: solid 6px var(--element-border-color);
  border-radius: var(--radius);
  padding: 20px;
  box-shadow: 15px 15px 0 rgba(81, 39, 7, 0.7);
  text-align: center;
  width: 20%;
  height: 45%;

    h2 {
        font-family: 'Pixel';
        font-size: 2.5em;
        color: var(--element-border-color);
        text-shadow: var(--shadow) rgba(81, 39, 7, 0.2);
        margin-bottom: 10px;
    }

    span {
    font-family: 'Pixel';
    font-size: 1em;
    color: var(--element-border-color);
    }

  .modal-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    gap: 1.5vh ;
    // margin-top: 5%;
  }

  #close-button {
    position: absolute;
    font-size: 2vw;
    top: 10px;
    right: 10px;

    &:hover {
      cursor: var(--cursor-hand);
    }
  }
}
