main {
    background-image: url('/assets/images-scene/main-scene.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.title-section {
        /* Test */
    // border: 2px solid red;
    padding-top: 1%;
    padding-bottom: 25%;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.button-section {
    /* Test */
    // border: 2px solid var(--primary-color);

    padding: 0%;
    display: flex;
        align-items: flex-end;
        justify-content: center;        
}
