.scene {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.layer {
    position: absolute;
    inset: -12%;
    background-size: 105vw;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

/* Ciel */
.far_distance {
    background-image: url('/assets/images-scene/parallax/sky.png');
    z-index: -3;
}

/* Ville*/
.med_distance {
    background-image: url('/assets/images-scene/parallax/city.png');
    z-index: -2;
}

/* Avatar */
.near_distance {
    background-image: url('/assets/images-scene/parallax/avatar.png');
    z-index: -1;
}

.scenario-import-containers {

    padding: 3% 3% 1% 3%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

// ==== CONFIG GLOBALE ====

section {
    z-index: 3000; //Pour que la neige passe derriere
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;

    &>div {
        background-color: var(--element-primary-color-transparent);
        border: 0.5vw solid var(--element-border-color);
        border-radius: var(--radius);
        width: 95%;
    }
}

p, pre {
    font-family: 'Pixel';
    color: var(--element-border-color);
    font-size: 1vw;
    margin: 0;
    padding: 4% 0 0 4%; //A changer
}

.config-title {
    font-family: 'Pixel';
    color: var(--element-border-color);
    font-size: 1.8vw;
    margin: 0;
    text-align: start;
    padding: 2%;
}

.sub-title {
    font-family: 'Pixel';
    color: var(--element-border-color);
    font-size: 1vw;
    margin: 0;
    padding: 2%;
}

// ==== LOAD SECTION ====
.load-section {
    #load-title-container {
        height: 8%;
    }

    #load-content-container {
        height: 85%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .sub-title {
            width: 95%;
            text-align: left;
            margin-bottom: 1%;
        }

        .file-drop-area {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 95%;
            height: 50%;
            border: solid 0.4vw var(--element-border-color);
            border-radius: var(--radius);
            background-color: transparent;
            transition: 0.2s;
            margin-bottom: 2%;

            &:hover {
                background-color: rgba(255, 255, 2255, 0.2);
                cursor: var(--);
            }

            img {
                width: 10%;
                opacity: 0.7;
                margin-bottom: 2%;
            }

            .file-msg {
                font-family: 'Pixel';
                color: var(--element-border-color); 
                color: #3e2723; 
                font-size: 1.2vw;
            }

            .file-input {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }

        #linkInput {
            width: 95%;
            height: 5%;
            border: solid 0.4vw var(--element-border-color);
            border-radius: var(--radius);
            font-family: 'Pixel';
            background-color: transparent;
            color: var(--element-border-color);
            padding-left: 1%;

            &::placeholder {
                color: var(--element-border-color);
                opacity: 0.5;
            }
        }
    }
}

// ==== PREVIEW SECTION ====
.preview-section {
    width: 100%;
    overflow-x: hidden;
    #preview-title-container {
        height: 8%;  
    }

    #preview-content-container {
        height: 85%;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--element-border-color) transparent;

        &::-webkit-scrollbar {
            width: 0.5vw;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--element-border-color);
            border-radius: var(--radius);
        }
    }
}

// ==== STATUS SECTION ====
.status-section {
    #status-title-container {
        height: 8%;
    }

    #status-content-container {
        height: 85%;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--element-border-color) transparent;

        &::-webkit-scrollbar {
            width: 0.5vw;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--element-border-color);
            border-radius: var(--radius);
        }
    }
}

// ==== BUTTON CONTAINERS ====
.button-containers {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2;

    &>app-nuke-button {
        margin-right: 2%;
    }
}