/* TODO : 
    - Mettre une ombre sur les boutons
*/

.nuke-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    :hover {
        cursor: url('/assets/images/custom-nuke-cursor-hand.png') 8 8, pointer;
        transform: scale(1.05);
        transition: transform 0.2s;
    }

    a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

    }

    img {
        width: 10vw;
        height: auto;
    }

    .label {
        position: absolute;
        z-index: 1;
        font-family: 'Pixel';
        color: var(--font-primary-color);
        font-size: 1.5vw;
        text-shadow: 2px 2px 0px black;
    }
}