
.scene {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  inset: -12%;
  background-size: 105vw;
  background-repeat: no-repeat;
  background-position: center;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

/* Ciel */
.far_distance {
  background-image: url('/assets/images-scene/parallax/sky.png');
  z-index: -3;
}

/* Ville*/
.med_distance {
  background-image: url('/assets/images-scene/parallax/city.png');
  z-index: -2;
}

/* Avatar */
.near_distance {
  background-image: url('/assets/images-scene/parallax/avatar.png');
  z-index: -1;
}


.game-config-containers {
    // border: 2px solid green;
    padding: 3% 3% 1% 3%;
    height: 80vh;
    display: flex;
    flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1%;
}

section {
    border: 2px solid red ;
    height: 100%;
    width: 100%;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1%;

    div {
        background-color: var(--element-primary-color);
        border: 1vw solid var(--element-border-color);
        border-radius: var(--radius);
        width: 90%;
    }
}

.config-title {

        font-family: 'Pixel';
        color: var(--element-background-color);
        font-size: 2.5vw;
        margin: 0;
}


// ==== AVATAR SECTION ====
.avatar-section {
    #avatar-title {
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // gap: 5%;

        img {
            width: auto;
            height: auto;
        }
    }


    // TODO : optimiser les images
    .avatar-image-container {
        // border: 2px solid green;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 80%;
        }
    }

    
}

// ==== SCENARIO SECTION ====
.scenario-section {
    
}

// ==== DESCRIPTION SCENARIO SECTION ====
.description-senario-section {
    
}

.button-containers {
    display: flex;
    flex-direction: row;
    // align-items: flex-end;
    justify-content: flex-end;
    width: 100%;

    div {
        border: 2px solid green;
        margin : 0 3%;
    }
}


