<main class="scene scene-multi text-md" [style.background-image]="'url(http://localhost:8080/api/images/' + scene?.background + ')'">
  <div class="card card-description">
    <div class="description" (click)="skipDescription()">
      {{ displayedDescription }}
    </div>
  </div>
    

    <div class="question-responses">
        @if (scene?.question && isQuestionResponseDisplayed) {
        <div class="card card-question">
            <div class="question">{{ scene?.question }}</div>
        </div>
        }

        @if (isQuestionResponseDisplayed) {
            <div class="card card-responses">
                <form [formGroup]="matchForm">
                    <div class="input-container">
                        <input type="text" placeholder="Votre réponse" formControlName="response">
                        <!-- on fonction des validation qu'on a décidé de mettre en place sur notre champ on affiche des erreurs -->
                        @if(matchForm.controls.response.touched && matchForm.controls.response.invalid){
                            @if(matchForm.controls.response.errors?.['required']){
                                <small class="error">La réponse est obligatoire</small>
                            
                            }
                        }
                    </div>

                    <div class="button-container">
                        <app-nuke-button label="VALIDATE" width="10vw" (click)="submitForm()" [fontSize]="1.3"></app-nuke-button>
                    </div>
                </form>
            </div>
        }
    </div>

</main>